<div class="title">
  <h1>Restaurant Waiting List</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-0 col-lg-4"></div>
    <div class="col-xs-12 col-lg-4">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="customer-name-input" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="number-input" placeholder="Number of People">
        </div>
        <button type="submit" id="check-in-button" class="btn btn-success">Check In</button>

      </form>

    </div>
    <div class="col-xs-0 col-lg-4"></div>
  </div>

  <div class="row lists">
    <div class="col-xs-6 col-lg-1"></div>
    <div class="col-xs-6 col-lg-5">
      <ul class="list-group">
        <li class="list-group-item list-title">
          <strong>Waiting</strong>
        </li>
        {{#each waiting}}
        <li class="list-group-item">

          <div class="customer-info">
            <span class="name">{{name}}</span> <span class="party-size">({{size}}) </span>
          </div>
          <button type="submit" data-customer-id={{id}} class="btn btn-outline-primary seat-button">Seat</button>
          <div class="wait-time" data-start-time={{check_in_time}}></div>
        </li>
        {{/each}}

      </ul>
    </div>
    <div class="col-xs-6 col-lg-5">
      <ul class="list-group">
        <li class="list-group-item list-title">
          <strong>Seated</strong>
        </li>
        {{#each seated}}
        <li class="list-group-item">
          <div class="customer-info">
            <span class="name">{{name}}</span> <span class="party-size">({{size}})</span>
          </div>
          <button type="submit" data-customer-id={{id}}
            class="btn btn-outline-danger checkout-button">Check-Out</button>
        </li>
        {{/each}}

      </ul>
    </div>
    <div class="col-xs-0 col-lg-1"></div>
  </div>


</div>